<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>page d'accueil</h1>
	<p>Ceci est la page d'accueil du site</p>

	{# commentaires twig #}

	{# pour afficher une variable #}
	{# {{ mavariable }} #}

	{# boucle #}
	{# 
	{% for article in articles %}

	{% endfor %}
	#}
	{# condition #}
	{# 
	{% if mavariable == "toto" %}

	{% endif %}
	#}

	Bonjour {{ nom }}
	
	<a href="bonjour/">Lien vers la page bonjour</a>
</body>
</html>